.page{
    height: 100%;
    width: 100%;
}
.frame{
    display: flex;
    justify-content: center;
}
.frames{
    height: 250px;
    width: 250px;
    margin: 50px;
}
.options{
    display: flex;
    justify-content: center;
}