.page{height: 100%;
    grid: auto;
    width: 100%;
    background-color: #ff9595;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.images{
    height:100px;
    width:100px;
}
