<link rel="stylesheet" href="/storage/emulated/0/Documents/Pydroid3/mywebsite/encryption/templates/animation/animation.css">
    <div class="page">welcome 
        <div class="content">
            <img src="saree1" alt="">
            <div class="images"> <a href="saree1"><img src="saree1.jpg" alt=""></a> </div>
            <div class="images"> <a href="saree2"><img src="saree2.jpg" alt=""></a> </div>
            <div class="images"> <a href="ramdomgeomentry"><img src="{% static 'random.jpg' %}" alt=""></a> </div>
        </div>
    </div>
